<!DOCTYPE HTML>
{% load static %}

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
	<noscript><link rel="stylesheet" href="{% static 'css/noscript.css' %}" /></noscript>
	<title>Blog</title>
	<style>
		#header{
	  
		  background: {{son.title}};
  } 
  </style>
	</head>
	<body class="left-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

				
					<!-- Inner -->
						<div class="inner">
							<header>
								<h1><a href="{% url 'index'  %}" id="logo">BLOG</a></h1>
							</header>
						</div>

					<!-- Nav -->
					<nav id="nav">
						<ul>
						  <li><a href="{% url 'index'  %}">Anasayfa</a></li>
						  <li><a href="{% url 'article:articles'  %}">Blog</a>
								<ul>
								{% for category in categorys %}

                                <li><a href="/articles/article/{{category.id}}">{{category.name}}</a></li>

								{% endfor %}
								</ul>
						</li>
						{% for newpage in newpages %}

									<li><a href="/articles/newpagedetail/{{newpage.id}}">{{newpage.page}}</a></li>

									{% endfor %}
						  <li><a href="{% url 'about'  %}">İletişim</a></li>
						  {% if request.user.is_authenticated %}
						  <li><a href="{% url 'article:dashboard'  %}">Kontrol Paneli</a></li>
						  <li><a href="{% url 'user:logout'  %}">Çıkış Yap</a></li>
						  {% else %}
						  <li><a href="{% url 'user:login'  %}">Giriş Yap</a></li>
						  {% endif %}
						  <li><a href="{% url 'user:register'  %}">Kayıt Ol</a></li>
						</ul>
					  </nav>

				</div>

			<!-- Main -->
				<div class="wrapper style1">

					<div class="container">
						<div class="row gtr-200">
							<div class="col-12 col-12-mobile imp-mobile" id="content">
                <article id="main">
                
                    {% load crispy_forms_tags %}

                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <h3>Makale Oluştur</h3>
                               <br><br>
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{form.media}}
                                    {{form|crispy}}
                                    <br>
                                    <button type = "submit" class = "btn btn-danger">Kaydet</button>
                                </form>
                            </div>
                        </div>

                </article>
                <br><br>
                <article id="main">
                
                    
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Kategori</th>
                            <th scope="col">Sil</th>
                        </tr>
                        </thead>
                        <tbody>
                
                        {% for category in categorys %}
                            
                        <tr>
                            <th scope="row">{{category.name}}</th>
                            <th><a href="/articles/delete/{{category.id}}" class="btn btn-danger">Sil</a></th>
                        </tr> 
                
                        {% endfor %}

                        </tbody>
                    </table>
                
				</article>
							</div>
						</div>
						<hr />
					</div>

				</div>

			<!-- Footer -->
				<div id="footer">
					<div class="container">
						<div class="row">

							<!-- Tweets -->
								<section class="col-4 col-12-mobile">
									<header>
										<h2 class="icon brands fa-twitter circled"><span class="label">Tweets</span></h2>
									</header>
									<ul class="divided">
										<li>
											<article class="tweet">
												Amet nullam fringilla nibh nulla convallis tique ante sociis accumsan.
												<span class="timestamp">5 minutes ago</span>
											</article>
										</li>
										<li>
											<article class="tweet">
												Hendrerit rutrum quisque.
												<span class="timestamp">30 minutes ago</span>
											</article>
										</li>
										<li>
											<article class="tweet">
												Curabitur donec nulla massa laoreet nibh. Lorem praesent montes.
												<span class="timestamp">3 hours ago</span>
											</article>
										</li>
										<li>
											<article class="tweet">
												Lacus natoque cras rhoncus curae dignissim ultricies. Convallis orci aliquet.
												<span class="timestamp">5 hours ago</span>
											</article>
										</li>
									</ul>
								</section>

							<!-- Posts -->
								<section class="col-4 col-12-mobile">
									<header>
										<h2 class="icon solid fa-file circled"><span class="label">Posts</span></h2>
									</header>
									<ul class="divided">
										<li>
											<article class="post stub">
												<header>
													<h3><a href="#">Nisl fermentum integer</a></h3>
												</header>
												<span class="timestamp">3 hours ago</span>
											</article>
										</li>
										<li>
											<article class="post stub">
												<header>
													<h3><a href="#">Phasellus portitor lorem</a></h3>
												</header>
												<span class="timestamp">6 hours ago</span>
											</article>
										</li>
										<li>
											<article class="post stub">
												<header>
													<h3><a href="#">Magna tempus consequat</a></h3>
												</header>
												<span class="timestamp">Yesterday</span>
											</article>
										</li>
										<li>
											<article class="post stub">
												<header>
													<h3><a href="#">Feugiat lorem ipsum</a></h3>
												</header>
												<span class="timestamp">2 days ago</span>
											</article>
										</li>
									</ul>
								</section>

							<!-- Photos -->
							<section class="col-4 col-12-mobile">
								<header>
									<h2 class="icon solid fa-camera circled"><span class="label">Photos</span></h2>
								</header>
								<div class="row gtr-25">
									<div class="col-6">
										<a href="/articles/article/24" class="image fit"><img src="../images/css.png" alt="" /></a>
									</div>
									<div class="col-6">
										<a href="/articles/article/22" class="image fit"><img src="images/django1.jpg" alt="" /></a>
									</div>
									<div class="col-6">
										<a href="/articles/article/25" class="image fit"><img src="../images/java.png" alt="" /></a>
									</div>
									<div class="col-6">
										<a href="/articles/article/28" class="image fit"><img src="../images/react.png" alt="" /></a>
									</div>
									<div class="col-6">
										<a href="/articles/article/23" class="image fit"><img src="../images/python1.jpg" alt="" /></a>
									</div>
									<div class="col-6">
										<a href="/articles/article/26" class="image fit"><img src="../images/php.png" alt="" /></a>
									</div>
								</div>
							</section>

						</div>
						<hr />
						<div class="row">
							<div class="col-12">

								<!-- Contact -->
									<section class="contact">
										<header>
											<h3>Nisl turpis nascetur interdum?</h3>
										</header>
										<p>Urna nisl non quis interdum mus ornare ridiculus egestas ridiculus lobortis vivamus tempor aliquet.</p>
										<ul class="icons">
											<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
											<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
											<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
											<li><a href="#" class="icon brands fa-pinterest"><span class="label">Pinterest</span></a></li>
											<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
											<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">Linkedin</span></a></li>
										</ul>
									</section>

								<!-- Copyright -->
									<div class="copyright">
										<ul class="menu">
											<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
										</ul>
									</div>

							</div>

						</div>
					</div>
				</div>

		</div>

    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <!-- Scripts -->
	<script src="{%  static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/jquery.dropotron.min.js'%}"></script>
	<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
	<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
	<script src="{% static 'js/browser.min.js' %}"></script>
	<script src="{% static 'js/breakpoints.min.js' %}"></script>
	<script src="{% static 'js/util.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>


	</body>
</html>






